body {
  background: radial-gradient(ellipse at bottom, #0C11FF 0%, #090a0f 100%);
              font-family: 'Oswald', sans-serif;
      }
p
{
  color:#ffffff;
  font-size:20px;
  text-align: center;

}


button
{
  height:30px;
  width:150px;
  border-radius:8px;
  padding:10px;
  font-size:20px;
  font-family: 'Oswald', sans-serif;
  height:52px;
  cursor:pointer;
  background: radial-gradient(ellipse at bottom, #FF0200 0%, #090a0f 100%);
  color:white
}

h2{
color:#ffffff;
  font-size:20px;
  text-align: center;
    background: radial-gradient(ellipse at bottom, #FF0200 0%, #090a0f 100%);}


img {
  float: center;
}

.accordion {
  background-color: #A29D9D;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: yes;
  text-align: left;
  outline: none;
  font-size: 25px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #000000; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
